<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <title>Encurtador de Links</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <h1 class="display-6 text-light">Editor de Links</h1>
      </div>
    </nav>
    <% if (error) { %>
    <div class="alert alert-warning d-flex align-items-center" role="alert">
      <div><%=error.message%></div>
    </div>
    <% }%>

    <div class="container-fluid d-flex justify-content-center">
      <form class="d-flex flex-column w-25 p-3" action="/edit/<%=body.id%>" method="POST">
        <label for="title" class="form-label">Título do link:</label>
        <input
          type="text"
          name="title"
          class="form-control"
          value="<%=body.title%> "
        />
        <label for="url" class="form-label">URL:</label>
        <input
          type="url"
          name="url"
          class="form-control"
          value="<%=body.url%> "
        />
        <label for="description" class="form-label">Descriçao:</label>
        <input
          type="text"
          name="description"
          class="form-control"
          value="<%=body.description%> "
        />
        <button type="submit" class="btn btn-primary my-3">Salvar</button>
      </form>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
